

<h2 class="neon" id="dashH2">DateSpot</h2>
<div class="wrapper">
    <div class="profileCard">
        <figure class="profile-card-img">
<!--            <img src="{{match.images.profilePic}}">-->
            <img src="../../public/images/temp_pro_pics/sydney_pro_pic.png">
        </figure>
        <h2>{{match.firstName}}</h2>
        <div class="profile-card-info">
            <dl class="dl">
                <div class="dlDiv">
                    <dt>Location</dt>
                    <dd>{{match.location.city}}, {{match.location.principalSubdiv}}</dd>
                </div>
                <div class="dlDiv">
                    <dt>Age</dt>
                    <dd>{{match.age}}</dd>
                </div>
                <div class="dlDiv">
                    {{#if (showOnProfile match.showGender)}}
                        <dt>Gender</dt>
                        <dd>{{match.gender}}</dd>
                    {{/if}}
                </div>
                <div class="dlDiv">
                    {{#if (showOnProfile match.showPronouns)}}
                        <dt>Pronouns</dt>
                        <dd>{{match.pronouns}}</dd>
                    {{/if}}
                </div>
                <div class="dlDiv">
                    {{#if (aboutExists match.about)}}
                        <dt>About</dt>
                        <dd>{{match.about}}</dd>
                    {{/if}}
                </div>
                <div class="dlDiv">
                    <dt>Interests</dt>
                    <dd>{{stringifyObject match.interests}}</dd>

                </div>
            </dl>
            <div class="messageButton">
                <button id="messageButton" type="submit" class="homepage-buttons">Message</button>
            </div>
        </div>
        <div class="chatContainer" hidden>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12">
                    <div class="backContainer">
                        <span class="back">&larr;</span>
                        <h3 class="text-center">Chat</h3>
                        <div class="right"></div>
                    </div>
                    <div id="status"></div>
                    <div id="chat">
                        <div class="chatCard">
                            <div id="messages" class="card-block">

                            </div>
                        </div>
                        <br>
                        <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="dateSpotsContainer" class="profileCard">
        <h2>Date Ideas for You and {{match.firstName}}:</h2>
        <div id="dateSpotsContainer2">
            {{#each dateSpots}}
                <li>
                    <h3>Because you both like {{interestCategory}}...</h3>
                    <div>
                        <i class="arrow right"></i>
                        <div class="businessDivDiv" style="display: none">
                            {{#each businesses.businesses}}
                                <div class="businessDiv">
                                    {{#if image_url}}
                                        <img src={{image_url}}>
                                    {{else}}
                                        <img src='../../public/images/no_preview.jpeg'>
                                    {{/if}}
                                    <div class="businessInfo">
                                        <a href="{{url}}">{{name}}</a>
                                        {{#if price}}
                                            <p>Price: <span class="price">{{price}}</span></p>
                                        {{/if}}
                                        <p>{{location.address1}}</p>
                                        <p>{{location.city}}, {{location.state}} {{location.zip_code}}</p>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/dashboard/match.js"></script>